[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=A fast, feature full, GPU based terminal emulator
TryExec=kitty
Exec=kitty zsh -c 'TERM=xterm-256color tmux'
Icon=kitty
Categories=System;TerminalEmulator;
