[status-tree]
	indent = 4
[alias]
	tree = !sh -c \"~/dev/github/git-status-tree/bin/git-status-tree\"
	cherry-pit = "!f() { git rebase --rebase-merges --onto $1^ $1; }; f"
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[push]
	default = current
	recurseSubmodules = check
	autoSetupRemote = true
[diff]
	tool = meld
	colorMoved = dimmed_zebra
	algorithm = histogram
[merge]
	tool = vscode
	conflictstyle = zdiff3
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[mergetool "vscode"]
	cmd = code --wait $MERGED
[http]
	cookiefile = ~/.gitcookies
[include]
	path = ~/.gitconfig-local
[fetch]
	parallel = 4
[rebase]
	autoStash = true
[grep]
	extendedRegexp = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[stgit]
	# always pass `--keep` to commands like `stg pop` and `stg push`.
	# `--keep` will "keep local changes".
	# ref: https://stacked-git.github.io/man/stg-push/
	autokeep = yes
	# enable rename detection on diffs
	# ref: https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---find-renamesltngt
	diff-opts = -M
	# full documentation for config options: https://github.com/stacked-git/stgit/blob/master/examples/gitconfig
[stgit "color"]
	# Specify output colors for series commands
	applied = cyan_foreground
	current = green_foreground
	unapplied = white_foreground
	hidden = red_foreground
[gc]
	auto = 0
[protocol "file"]
	allow = always
[commit]
	cleanup = scissors
[help]
	autocorrect = prompt
