[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "modules/diff-so-fancy"]
	path = modules/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
